<travel-preview class="col-md-3"
  travel="travel"
  ng-repeat="travel in $ctrl.list">
</travel-preview>

<div class="travel-preview"
  ng-hide="!$ctrl.loading">
  Loading travels...
</div>

<div class="travel-preview"
  ng-show="!$ctrl.loading && !$ctrl.list.length">
  No travels are here... yet.
</div>
<br>
<!--<list-pagination class="col-md-12"
 total-pages="$ctrl.listConfig.totalPages"
 current-page="$ctrl.listConfig.currentPage"
 ng-hide="$ctrl.listConfig.totalPages <= 1">
</list-pagination>-->