<div>
    <form>
        City:
        <!-- <input type="search" ng-click="ctrl.showMenu($event)" id="city" ng-model="$ctrl.data.city_input" class="md-primary md-raised demo-menu-open-button" placeholder="City" /> -->
        <suggestions></suggestions>
        Input date:
        <input type="search" ng-model="$ctrl.data.indate" placeholder="input date" />
        Output date:
        <input type="search" ng-model="$ctrl.data.outdate" placeholder="output date" />
        <button  ui-sref="app.results({city: {{'$ctrl.data.city_input'}}, 
                                       indate: {{'$ctrl.data.indate'}},
                                       outdate: {{'$ctrl.data.outdate'}}})">Search</button>
    </form>
</div>