<product-preview class="col-md-3"
  product="product"
  ng-repeat="product in $ctrl.list">
</product-preview>

<div class="product-preview"
  ng-hide="!$ctrl.loading">
  Loading products...
</div>

<div class="product-preview"
  ng-show="!$ctrl.loading && !$ctrl.list.length">
  No products are here... yet.
</div>
<br>
<list-pagination class="col-md-12"
 total-pages="$ctrl.listConfig.totalPages"
 current-page="$ctrl.listConfig.currentPage"
 ng-hide="$ctrl.listConfig.totalPages <= 1">
</list-pagination>